@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css");

.bg-body-tertiary{
    background-color: white !important;
}

.container-fluid{
    justify-content: space-between !important;
}
.navbar-collapse{
    flex-grow: unset !important;
}
.navbar{
    font-size: 1.1em;
    border-bottom: 1px solid rgb(156, 156, 156)
}
.navbar-brand{
    font-size: 1.7em;
}
p{
    font-size: 1.2em;
}