.img {
    margin-top: 4px;
    position: relative;
}

.welcome {
    font-size: 1.3em;
}

.title {
    font-size: 2.8em;
    margin: 0px auto;
    /* color:white; */
}

.subtitle {
    font-size: 1.3em;
    margin: 0px auto;
    /* color:white; */
}

.titleImg {
    /* backdrop-filter: contrast(200%) opacity(100%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 70vh; */
    /* width: 79vw; */
    /* background: url('/images/bindu-sarovar1.jpg');
    background-blend-mode: overlay; */
    /* color:white; */
}

.pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
}

.pic-ctn>img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

.ourService{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.serviceItem{
    margin: 10px;
    padding: 5px;
    text-align: center;
}